.body {
    flex: auto;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 72px;
    justify-content: flex-end;
    align-content: space-around;
}

.logo {
    display: flex;
    align-self: center;
    padding-right: 200px;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding-right: 40px;
}

.container {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-content: space-around;
}

