.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 72px;
    align-content: space-around;
    font-family: monospace;
    justify-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    font-size: 18px;
    font-weight: bold;
}

.list {
    display:flex;
    flex: 1;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-end;
    padding-top: 12px;
}

.list ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    list-style:none;
}

.list li a{
    display: flex;
    text-decoration: none;
    color: #f9faf8;
}

.container {
    display: flex;
    flex-direction:column;
    padding:100px;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: monospace;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
}

button {
    background-color:#3882f6;
    color:#f9faf8;
    border: #3882f6;
    border-radius: 5px;
    font-size: large;
    font-family: monospace;
    padding: 8px 30px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-placeholder{
    width: 400px;
    height: 200px;
    background-color: lightgray;
    margin: 20px;
    margin-left:auto;
}

.container-two {
    display: flex;
    font-family: monospace;
    height:150px;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    gap: 100px;
}

.h2 {
    display: flex;
    justify-content: center;
    size: 36px;
    font-weight: bolder;
    color:#1f2937;
    font-family: monospace;
}

.box {
    display:flex;
    align-self: center;
    width: 100px;
    height: 100px;
    background-color: #f9faf8;
    border: 2px #3882f6 solid;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.container-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 7em 13em;
    margin-top: 75px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-family: monospace;
}

.container-call {
    display:flex;
    background-color: #3882f6;
    width: 700px;
    height: 100px;
    margin: 150px;
    border-radius: 5px;
    border:#f9faf8 1px;
    color: #f9faf8;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-content: center;
    font-family: monospace;
}

.cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.call-button {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    border:#f9faf8 solid;
    border-radius: 5px;
    border-width: 1px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 30px;
}

.its-time {
    font-size: 18px;
    font-weight: bold;
}

.sign-up {
    font-size: 14px;
    font-weight:1000px;
}