.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 72px;
    align-content: space-around;
    font-family: monospace;
    justify-items: flex-end;
}

.logo {
    display: flex;
    align-self: center;
    padding-right: 200px;
    padding-left: 100px;
    justify-self: flex-start;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap:30px;
    padding-right: 20px;
    justify-content: flex-start;
    color: #f9faf8;
}

.container {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: monospace;
    justify-content: space-around;
}

.button {
    color:#3882f6;
}

